.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box_add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: .7rem;
}