.box {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box_add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.box_ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 8px;
    max-width: 740px;
    max-height: 80vh;


}

.box_ul li {}